{% extends('base.html.twig') %}

{% block body %}
<table style="width:100%">
    {% for challenge in challenges %}
    <tr>
        <td><a href="{{path('showChallenge', {uuid: challenge.uuid })}}">{{ challenge.title }}</a></td>
        <td>{{ challenge.description }}</td>
        {% if user != null %}
            {% if 'ROLE_ADMIN' in user.roles %}
            <td><a href="{{path('editChallenge', {uuid: challenge.uuid})}}">Edit</a></td>
            <td><a href="{{path('deleteChallenge', {uuid: challenge.uuid})}}">Delete</a></td>
            {% endif %}
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
